fastapi==0.95.2
uvicorn==0.22.0
python-dotenv==1.0.0
pandas==1.5.3  # Versión más ligera
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
transformers==4.29.2
nltk==3.8.1
google-api-python-client==2.86.0
tqdm==4.65.0
httpx==0.24.1
python-multipart  # Para manejar uploads
aiofiles          # Para manejar archivos estáticos

youtube-comment-scraper>=1.0.0
textblob>=0.17.0